In [1]:
import pandas as pd
df = pd.read_excel(r"../4_integrated_csv_files/nhs_data/MHCYP 2023 Data.xlsx", sheet_name='Table 1.2')

In [2]:
df.head(27)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71,Unnamed: 72,Unnamed: 73,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77
0,8 to 23 year olds,,,,NaN,,,,,NaN,...,,,,,,,NaN,NaN,,England
1,,8 to 10 year olds,NaN,NaN,NaN,NaN,11 to 16 year olds,NaN,NaN,NaN,...,20 to 23 year olds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,2017,2020,2021,2022,2023,2017,2020,2021,2022,...,20172,NaN,20202,NaN,2021,NaN,2022,NaN,2023,NaN
3,,%,%,%,%,%,%,%,%,%,...,%,%,%,%,%,%,%,%,%,%
4,,,,,NaN,,,,,NaN,...,LCL,UCL,LCL,UCL,LCL,UCL,LCL,UCL,LCL,UCL
5,All,,,,NaN,,,,,NaN,...,,,,,,,NaN,NaN,,
6,Unlikely to have a disorder,75.771214,74.259779,74.699654,71.857715,72.227267,72.370774,71.588137,69.460761,68.755064,...,:,:,:,:,66.349279,75.238288,62.143058,72.847959,57.881264,70.065443
7,Possible disorder,12.996248,9.708381,7.558688,11.304284,12.107715,14.378645,10.781461,12.866593,10.885645,...,:,:,:,:,9.313678,15.986763,9.481472,18.103411,10.155243,18.631077
8,Probable disorder,11.232538,16.03184,17.741658,16.838001,15.665018,13.250582,17.630402,17.672647,20.359291,...,:,:,:,:,12.790331,20.32166,14.802604,22.621495,16.495915,26.771058
9,,NaN,NaN,NaN,NaN,NaN,,,,NaN,...,,,,,,NaN,NaN,NaN,,
10,Boys/young men,NaN,NaN,NaN,NaN,NaN,,,,NaN,...,,,,,,NaN,NaN,NaN,,
11,Unlikely to have a disorder,70.312676,68.732905,71.19245,67.080892,65.703818,71.049029,74.27637,69.790944,70.975456,...,:,:,:,:,70.659067,83.403463,68.22509,84.051732,60.282939,79.099875
12,Possible disorder,16.412207,11.267907,7.952586,12.629408,16.622291,16.694162,10.416491,14.599077,10.214203,...,:,:,:,:,7.217498,16.918309,6.645346,20.773327,8.369705,23.15405
13,Probable disorder,13.275117,19.999188,20.854963,20.2897,17.67389,12.256809,15.307139,15.609979,18.810341,...,:,:,:,:,6.010322,15.791342,5.410022,14.894483,7.319443,21.773988
14,,NaN,NaN,NaN,NaN,NaN,,,,NaN,...,,,,,NaN,NaN,NaN,NaN,,
15,Girls/young women,NaN,NaN,NaN,NaN,NaN,,,,NaN,...,,,,,NaN,NaN,NaN,NaN,,
16,Unlikely to have a disorder,81.837839,79.901201,78.019934,76.828751,79.085653,73.737121,68.738385,69.113464,66.419509,...,:,:,:,:,57.662486,70.695924,50.280274,65.401686,50.509577,65.498704
17,Possible disorder,9.199748,8.116533,7.185783,9.925284,7.361344,11.98499,11.168361,11.04431,11.591913,...,:,:,:,:,8.730327,17.805158,8.972343,18.798205,8.608415,17.32023
18,Probable disorder,8.962414,11.982266,14.794282,13.245965,13.553003,14.277889,20.093255,19.842227,21.988578,...,:,:,:,:,16.640532,28.465572,21.753483,34.79401,21.604825,36.458249
19,,,,,,,,,,,...,,,,,,,NaN,NaN,,
20,Base,,,,,,,,,,...,,,,,,,NaN,NaN,,
21,All,1739,745,773,718.0,546,3121,1308,1415,1052,...,,,,,,,NaN,NaN,,
22,Boys/young men,891,370,390,363.0,277,1553,645,689,503,...,,,,,,,NaN,NaN,,
23,Girls/young women,848,375,383,355,269,1568,663,726,549,...,,,,,,,NaN,NaN,,
24,,,,,NaN,,,,,,...,,,,,,,NaN,NaN,,
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print(df.columns)

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65',
       'Unnamed: 66', 'Unnamed: 67', 'Unnamed: 68', 'Unnamed: 69',
       'Unnamed: 70', 'Unnamed: 71', 'Unnamed: 72', 'Unnamed: 73',
       'Unnamed: 74', 'Unnamed: 75', 'Unnamed: 76', 'Unnamed: 77'],
      dtype='object')

In [4]:
# There are no headers in the data
df = pd.read_excel(r"../4_integrated_csv_files/nhs_data/MHCYP 2023 Data.xlsx", sheet_name='Table 1.2',  header=None)

# Numbert the columns for ease of reference before dividing up and renaming in a more descriptive and helpful way. 
# col1 - col78
new_column_names = [f'col{i+1}' for i in range(78)]

# Assign the new column names to the df
df.columns = new_column_names

# Check this has worked!
print(df.columns)

Index(['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7', 'col8', 'col9',
       'col10', 'col11', 'col12', 'col13', 'col14', 'col15', 'col16', 'col17',
       'col18', 'col19', 'col20', 'col21', 'col22', 'col23', 'col24', 'col25',
       'col26', 'col27', 'col28', 'col29', 'col30', 'col31', 'col32', 'col33',
       'col34', 'col35', 'col36', 'col37', 'col38', 'col39', 'col40', 'col41',
       'col42', 'col43', 'col44', 'col45', 'col46', 'col47', 'col48', 'col49',
       'col50', 'col51', 'col52', 'col53', 'col54', 'col55', 'col56', 'col57',
       'col58', 'col59', 'col60', 'col61', 'col62', 'col63', 'col64', 'col65',
       'col66', 'col67', 'col68', 'col69', 'col70', 'col71', 'col72', 'col73',
       'col74', 'col75', 'col76', 'col77', 'col78'],
      dtype='object')

In [6]:
# Split the dataframe into five separate tables based on age groups.
df1 = df[['col1', 'col2', 'col3', 'col4', 'col5', 'col6']]
df2 = df[['col1', 'col7', 'col8', 'col9', 'col10', 'col11']]
df3 = df[['col1', 'col12', 'col13', 'col14', 'col15', 'col16']]
df4 = df[['col1', 'col17', 'col18', 'col19', 'col20', 'col21']]
df5 = df[['col1', 'col22', 'col23', 'col24', 'col25', 'col26']]

# Save these into their own CSV files and renamed with the age groups referenced. 
# table2_11-16 may not be required as we have those ages covered within other tables.
# Note: index=False is used to remove the added index column.
df1.to_csv(r'../6_cleaned_files/nhs_data/table1_8-10.csv', index=False)
df2.to_csv(r'../6_cleaned_files/nhs_data/table2_11-16.csv', index=False)
df3.to_csv(r'../6_cleaned_files/nhs_data/table3_8-16.csv', index=False)
df4.to_csv(r'../6_cleaned_files/nhs_data/table4_17-19.csv', index=False)
df5.to_csv(r'../6_cleaned_files/nhs_data/table3_20-23.csv', index=False)

In [9]:
df.to_pickle("nhs_initial_cleanup.pkl")